* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px; 
    background: #1300ba;
    background: linear-gradient(180deg, rgba(19, 0, 186, 1) 0%, rgba(156, 45, 196, 1) 50%);

}

.mehsul1 img {
    width: 100%;
    height: 85%;
    border-radius: 10px;
}

.mehsul1 {
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    height: 30%;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
}

.mehsul1 p {
    font-size: 20px;
}